<%- include('partials/_header.ejs') -%>

<body>

  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Post Düzenle</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <input type="text" class="form-control" value="<%=post.title%>" name="title">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <textarea rows="5" class="form-control" name="detail"><%=post.detail%></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <textarea rows="25" class="form-control" name="text"><%=post.text%></textarea>
            </div>
          </div>
          <br>
          <div></div>
          <button type="submit" class="btn btn-primary">Düzenle</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  
  <%- include('partials/_footer.ejs') -%>
